<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Sischool</title>
<link rel="stylesheet" th:href="@{/css/index-main.css}"/>
</head>
<body>
   <div class="header">
		<ul>
			<li><a href="/estudante">Estudante</a></li>
			<li><a href="/curso">Curso</a></li>
			<li><a href="/professor">Professor</a></li>
			<!--<li><a href="#">Nota</a></li>-->
			<!--<li><a href="#">Matricula</a></li>-->
		</ul>
   </div>
   <div class="content">
      <img alt="Sistema de Gestão Escolar" th:src="@{/img/school-management.png}">
   </div>
   <div class="footer">
       &copy Kutiva-Java Devs 2019 
   </div>
</body>
</html>